<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/static/styles/styles.css">

		<title>Inicio</title>
	</head>
	
	<body>
		
		<div id="main">
			<div id="sidebar">
				<div class="sidebar-container" id="app-logo">
					<img src="/static/images/logo.png" id="logo">
				</div>

				<div class="separator"></div>

				<div class="sidebar-container" id="icons">
					<div>
						<a href="/"> <!-- Home -->
							<img src="/static/images/home.png" class="icon">
						</a>
					</div>

					<div>
						<a href="/tramites/"> <!-- Tramites -->
							<img src="/static/images/procedures.png" class="icon">
						</a>
					</div>

					<div>
						<a href="/noticias/"> <!-- Noticias -->
							<img src="/static/images/news.png" class="icon">
						</a>
					</div>
				</div>

				<div class="separator"></div>

				<div class="sidebar-container" id="contact">
					<a href="/contacto/">
						<img src="/static/images/contact.png" class="icon">
					</a>
				</div>
			</div>



			<div id="content">
				<div id="page-title">
					<h1>Pagina de inicio</h1>
				</div>

				<div id="page-content"></div>
			</div>
		</div>		

	</body>
</html>