/*
Color palette

Green       : #8AFF80
Soft orange : #FFCA80
Pink        : #FF80BF
Blue        : #9580FF
Orange      : #FF9580
Yellow      : #FFFF80
Black       : #15171B
Gray        : #1D1E26
*/



							/* General stuff */

html {
	font-size: 1.172vw;
}

* {
	padding: 0px;
	margin: 0px;

	color: white;
	font-family: Consolas;
}


#main {
	display: flex;

	width: 100vw;
	height: 100vh;

	background-color: #1D1E26;
}


a {
	text-decoration: none;
}


/* Sidebar */

#sidebar {
	width: 10vw;
	height: 100vh;

	display: flex;
	flex-direction: column;

	justify-content: space-around;
	align-items: center;

	background-color: #15171B;
}

#logo {
	width: 8rem;
}

#app-logo {
	padding-top: 1rem;
}

.separator {
	width: 6rem;
	height: 0.3rem;

	border-radius: 1rem;

	background-color: #9580FF;
}

#icons {
	height: 20rem;

	display: flex;
	flex-direction: column;

	justify-content: space-around;
}

.icon {
	width: 3rem;
	height: 3rem;
}


/* Page content */

#content {
	display: flex;
	flex-direction: column;

	align-items: center;

	width: 90vw;
}

#page-title {
	display: flex;
	
	justify-content: center;
	align-items: center;

	padding: 1rem;

	width: 85vw;
	height: 8vh;
}

#page-title:before, #page-title:after {
	content: "";

	width: 0.7rem;
	height: 0.7rem;

	margin: 1rem;

	background-color: #8AFF80;

	border-radius: 0.7rem;
}

#page-content {
	display: flex;
	flex-direction: column;

	justify-content: center;
	align-items: center;

	height: 88vh;
	width: 90vw;
}	





							/* News */

#news-wrapper {
	display: grid;

	grid-template-columns: repeat(3, 1fr);

	gap: 1.5rem;

	width: 81vw;
	height: 100vh;

	overflow-x: auto;
	overflow-y: auto;
}

.new {
	display: flex;
	flex-direction: column;

	align-items: center;

	width: 22rem;
	height: 34rem;

	border-radius: 10px;
	background-color: #15171B;
}

.new-image {
	width: 22rem;
	height: 15rem;

	border-radius: 10px;
	/*background-color: #FFFF80;*/
}

.new-text-container {
	display: flex;
	flex-direction: column;

	justify-content: space-around;
	align-items: center;

	height: 19rem;
}

.new-title {
	text-align: center;
}

.new-date {
	font-size: 0.9vw;
}

.new-text {
	text-align: center;
	box-sizing: border-box;

	padding: 10px;
}

.floating-button {
	position: absolute;

	margin: 1rem 0rem 0rem 73.4rem;

	width: 3rem;
	height: 3rem;
}


/* Crear noticias */

#form-container {
	display: flex;
	flex-direction:column;

	justify-content: center;
	align-items: center;

	gap: 1rem;

	width: 40rem;
	height: 32rem;

	background-color: #15171B;
	border-radius: 1rem;
}

.form-field-container {
	display: flex;
	flex-direction: column;

	align-items: center;

	gap: 0.5rem;
}

.form-label {
	font-size: 1.5rem;
}

.form-field {
	width: 25rem;

	text-align: center;
	font-size: 1rem;

	background-color: #1D1E26;
	border: 0.1rem solid #9580FF;
	border-radius: 0.5rem;
}

#new-content {
	height: 20rem;
}

#form-buttons-container {
	display: flex;

	gap: 2rem;
}

.form-button {
	padding: 0.5rem;

	cursor: pointer;
}

.green {
	color: #8AFF80;
	border: 1px solid #8AFF80;
}

.green:hover {
	color: black;
	background-color: #8AFF80;
	box-shadow: 0 0 0.2rem #8AFF80;
}

.red {
	color: #FF9580;
	border: 1px solid #FF9580;
}

.red:hover {
	color: black;
	background-color: #FF9580;
	box-shadow: 0 0 0.2rem #FF9580;
}